<form class="{{cssClass}}" autocomplete="off">
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "SHEET.ATTRIBUTES"}}</a>
        <a class="item" data-tab="description">{{localize "SHEET.DESCRIPTION"}}</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    <header class="sheet-header primary">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="66" width="66"/>
        <div class="primary-column">
            <label>
                <h3>{{localize "CHAR.NAME"}}:</h3>
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CHAR.NAME'}}"/>
            </label>
            <label>
                <h3>{{localize "CHAR.PLAYER"}}:</h3>
                <input name="data.player" type="text" value="{{data.player}}" placeholder="{{localize 'CHAR.PLAYER'}}"/>
            </label>
            <label>
                <h3>{{localize "CHAR.CHRONICLE"}}:</h3>
                <input name="data.chronicle" type="text" value="{{data.chronicle}}" placeholder="{{localize 'CHAR.CHRONICLE'}}"/>
            </label>
        </div>
        <div class="primary-column">
            <label>
                <h3>{{localize "CHAR.NATURE"}}:</h3>
                <input name="data.nature" type="text" value="{{data.nature}}" placeholder="{{localize 'CHAR.NATURE'}}"/>
            </label>
            <label>
                <h3>{{localize "CHAR.DEMEANOR"}}:</h3>
                <input name="data.demeanor" type="text" value="{{data.demeanor}}" placeholder="{{localize 'CHAR.DEMEANOR'}}"/>
            </label>
            <label>
                <h3>{{localize "CHAR.CONCEPT"}}:</h3>
                <input name="data.concept" type="text" value="{{data.concept}}" placeholder="{{localize 'CHAR.CONCEPT'}}"/>
            </label>
        </div>
        <div class="primary-column">
            <label>
                <h3>{{localize "CHAR.CLAN"}}:</h3>
                <input name="data.clan" type="text" value="{{data.clan}}" placeholder="{{localize 'CHAR.CLAN'}}"/>
            </label>
            <label>
                <h3>{{localize "CHAR.GENERATION"}}:</h3>
                <input name="data.generation" type="text" value="{{data.generation}}" placeholder="{{localize 'CHAR.GENERATION'}}"/>
            </label>
            <label>
                <h3>{{localize "CHAR.SIRE"}}:</h3>
                <input name="data.sire" type="text" value="{{data.sire}}" placeholder="{{localize 'CHAR.SIRE'}}"/>
            </label>
        </div>
    </header>
    <section class="sheet-body">
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="primary">

                <div class="sheet-header-big">
                    <h2>{{localize "SHEET.ATTRIBUTES"}}</h2>
                </div>
                <div class="row">
                    <div class="column">
                        <h4>{{localize "SHEET.PHYSICAL"}}</h4>
                        <ul>
                            {{#each data.attributes.physical as |attribute key|}}
                            <li class="radio-input">
                                {{> systems/vtt-darkheresy/templates/attribute-input.html value=attribute.value label=attribute.label id=../actor._id key=key prefix="data.attributes.physical" max=5}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="column">
                        <h4>{{localize "SHEET.SOCIAL"}}</h4>
                        <ul>
                            {{#each data.attributes.social as |attribute key|}}
                            <li class="radio-input">
                                {{> systems/vtt-darkheresy/templates/attribute-input.html value=attribute.value label=attribute.label id=../actor._id key=key prefix="data.attributes.social" max=5}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="column">
                        <h4>{{localize "SHEET.MENTAL"}}</h4>
                        <ul>
                            {{#each data.attributes.mental as |attribute key|}}
                            <li class="radio-input">
                                {{> systems/vtt-darkheresy/templates/attribute-input.html value=attribute.value label=attribute.label id=../actor._id key=key prefix="data.attributes.mental" max=5}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="sheet-header-big">
                    <h2>{{localize "SHEET.ABILITIES"}}</h2>
                </div>
                <div class="row">
                    <div class="column">
                        <h4>{{localize "SHEET.TALENTS"}}</h4>
                        <ul>
                            {{#each data.abilities.talents as |ability key|}}
                            <li class="radio-input">
                                {{> systems/vtt-darkheresy/templates/attribute-input.html value=ability.value label=ability.label id=../actor._id key=key prefix="data.abilities.talents" max=5}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="column">
                        <h4>{{localize "SHEET.SKILLS"}}</h4>
                        <ul>
                            {{#each data.abilities.skills as |ability key|}}
                            <li class="radio-input">
                                {{> systems/vtt-darkheresy/templates/attribute-input.html value=ability.value label=ability.label id=../actor._id key=key prefix="data.abilities.skills" max=5}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="column">
                        <h4>{{localize "SHEET.KNOWLEDGES"}}</h4>
                        <ul>
                            {{#each data.abilities.knowledges as |ability key|}}
                            <li class="radio-input">
                                {{> systems/vtt-darkheresy/templates/attribute-input.html value=ability.value label=ability.label id=../actor._id key=key prefix="data.abilities.knowledges" max=5}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>
        <div class="tab items" data-group="primary" data-tab="items">
            <ul>
                <li class="radio-input">Stuff</li>
            </ul>
        </div>
    </section>
</form>